* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  padding: 2rem 5rem;
  text-align: center;
  background: #193549;
  color: black;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 16px;
}
 
h1 {
  font-family: cursive;
  text-align: center;
  color: white;
  font-size: 2em;
}
 
.restaurants {
  display: flex;
  flex-wrap: wrap;
  color: black;
  justify-content: center;
  padding: 0px;
}
 
.restaurants > img {
  flex: 1;
  object-fit: cover;
  margin: auto;
}
 
input {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
 
  width: 50%;
  height: 50px;
 
  padding: 20px;
  margin-bottom: 42px;
 
  font-size: 20px;
}
 
input:focus {
  outline: none;
}
 
.button {
  padding: 8px 0;
}
.card {
  margin-right: 5px;
  margin-bottom: 5px;
}
 

 
.form {
  justify-content: center;
}
 
.error {
  color: red;
  font-style: italic;
}

label{
  display:  block;
  margin-top: 10px;
}

.card-container.card{
  border-radius: 20px;
  max-width:  350px !important;
  padding: 40px 40px;
}
.card{
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0)
}
.profile-img-card{
  width:  96px;
  height: 96;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50px;
}